@{
    ViewBag.Title = "Home Page";
}

    <div class="row-title">
        <div class="col-md-12">
            <h1 class="text-center">SOS Threat Analytics</h1>
        </div>
    </div>

    <div class="row">
    </div>

    <div class="row">
    </div>

    <div class="row-titlebuttons">
        <div class="col-md-4 text-right">
            <p><a class="btn btn-primary btn-lg" href="/Account/Register">Register</a></p>
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-4 text-left">
            <p><a class="btn btn-default btn-lg" href="/Account/Login">Sign-In</a></p>
        </div>
    </div>